@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kalam:wght@400;700&family=Pacifico&family=Pangolin&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&display=swap');

/* font-family: 'Courgette', cursive;
font-family: 'Kalam', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Pangolin', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Noto Sans TC', sans-serif;  */

:root {
    --yellow01: #fcefb4;
    --yellow02: #fefbeb;
    --gray01: #afafaf;
    --pink00: #e4007f;
    --pink01: #f72585;
    --pink02: #d8156c;
    --purple: #3700b3;
    --indigo01: #1A237E;
    --indigo02: #304FFE;
    --indigo03: #3F51B5;
}

html {
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    color: var(--indigo01);
    background: #f4f5f6;
    font-family: "Cairo", 'Noto Sans TC', sans-serif;
    ;
    overflow-y: hidden;
}

header,
footer {
    width: 100%;
    background: var(--yellow01);
}

.text-Pacifico {
    font-family: 'Pacifico', cursive;
}

main {
    height: calc(100vh - 8rem);
    /* 運算符號與值 需要有空格 才能生效 */
    overflow-y: auto;
}

.bg-body {
    background: #fafcfe;
}

#banner img {
    max-height: 400px;
    width: 100%;
    border-radius: 5px;
    padding: 0 15px;
    object-fit: cover;
    object-position: 50% 50%;
}

.text-gray {
    color: var(--gray01);
}

.text-pink {
    color: var(--pink01);
}

.text-pink00 {
    color: var(--pink00);
}

.bg-yellow01 {
    background: var(--yellow01);
}

th,
td {
    white-space: nowrap;
    text-align: center;
    vertical-align: middle !important;
}

.w-4rem {
    width: 4rem;
}

#orderTable {
    width: 100%;
    display: block;
    overflow-x: auto;
    /* white-space: nowrap; */
}

.newsText {
    font-weight: 300;
}

.btn-outline-pink {
    color: var(--pink01);
    border-color: var(--pink01);
}

.btn-outline-pink:hover {
    color: #fff;
    background-color: var(--pink02);
    border-color: var(--pink02);
}

.btn-outline-pink:focus-visible {
    outline: var(--pink02);
}

#news img {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

#news p {
    text-indent: 2em
}

#news a,
#products a {
    text-decoration: none;
}

#products img:hover {
    opacity: 0.4;
}
